*.bot
*.properties
Commands/
target/
JavaDiscordBottest
test.xml
test1.xml
src/main/resources/hibernate.cfg.xml
log.txt
src/main/resources/s.hibernate.cfg.xml
src/main/resources/keystore.jks
src/main/resources/pss.txt
src/main/resources/application.properties
application.properties
src/main/resources/fullchain.pem
src/main/resources/privkey.pem
bot.config
.settings/
